/**
*Setup Common Style
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
/**
*SASS or SCSS Style Through Variable
*/
$header_footer_color: beige;
$heading_color: rgb(168, 78, 78);
$heading_font: 'Berlin Sans FB';
$button_background: cadetblue;
$button_hover: rgb(176, 122, 92);
$border_color: #ddd;

/**
*SCSS Style Structure
*/
.main{
    width: 1000px;
    margin: 100px auto;
    border: 1px solid $border_color;
    padding: 20px;
    .menu{
        background-color: $header_footer_color;
        ul{
            display: flex;
            li{
                list-style-type: none;
                a{
                    padding: 10px 20px;
                    display: block;
                    text-decoration: none;
                    color: cadetblue;
                    &:hover{
                        background-color: darkgray;
                        color: burlywood;
                    }
                }
            }
        }
    }
    .services{
        display: flex;
        padding: 25px 0;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        .single-service{
            flex-basis: 300px;
            background-color: #fafafa;
            padding: 20px;
            border: 1px solid $border_color;
            h4{
                font-size: 20px;
                font-family: $heading_font;
                margin-bottom: 10px;
                color: $heading_color;
            }
            p{

            }
            a{
                display: inline-block;
                background-color: $button_background;
                color: #fff;
                padding: 10px 20px;
                margin-top: 20px;
                text-decoration: none;
                text-transform: capitalize;
                &:hover{
                    background-color: $button_hover;
                }
            }
           
        }
    }
    .about{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .about-left{
            flex-basis: 790px;
            h4{
                color: $heading_color;
                font-family: $heading_font;
                font-size: 24px;
                margin-bottom: 20px;
            }
            
            p{

            }
            a{
                display: inline-block;
                background-color: $button_background;
                padding: 10px 20px;
                text-decoration: none;
                color: #fff;
                text-transform: capitalize;
                margin-top: 20px;
                &:hover{
                    background-color: $button_hover;
                }
            }
        }
        .about-menu{
            flex-basis: 115px;
            ul{
                list-style: none;
                li{
                    margin-bottom: 5px;
                    padding-bottom: 5px;
                    a{
                        text-decoration: none;
                        color: #333;
                        &:hover{
                            
                        }
                    }
                }
            }
        }
    }
    .footer{
        background-color: $header_footer_color;
        padding: 20px;
        text-align: center;
        margin-top: 20px;
        color: cadetblue;
        p{
            
        }
    }
}