/**
*Import the Partial Style Files
*/
/**
  *SASS or SCSS Style Through Variable
  */
/**
*Setup Common Style
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  width: 1000px;
  margin: 0 auto;
}

a {
  color: #333;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

/**
  *SCSS Style Structure
  */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.header .menu {
  background-color: beige;
}

.header .menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .menu ul li a {
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  color: cadetblue;
}

.header .menu ul li a:hover {
  background-color: darkgray;
  color: burlywood;
}

.banner img {
  width: 100%;
  height: 350px;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services .single-service {
  -ms-flex-preferred-size: 450px;
      flex-basis: 450px;
  background-color: #fafafa;
  padding: 20px;
  border: 1px solid #ddd;
  margin: 10px;
}

.services .single-service h4 {
  font-size: 24px;
  font-family: "Berlin Sans FB";
  margin-bottom: 10px;
  color: #a84e4e;
}

.services .single-service a {
  display: inline-block;
  background-color: cadetblue;
  color: #fff;
  padding: 10px 20px;
  margin-top: 20px;
  -webkit-text-decoration: navajowhite;
          text-decoration: navajowhite;
  text-transform: capitalize;
}

.services .single-service a:hover {
  background-color: #b07a5c;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px;
}

.about .about-left {
  -ms-flex-preferred-size: 790px;
      flex-basis: 790px;
}

.about .about-left h4 {
  color: #a84e4e;
  font-family: "Berlin Sans FB";
  font-size: 24px;
  margin-bottom: 20px;
}

.about .about-left a {
  display: inline-block;
  background-color: cadetblue;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  margin-top: 20px;
}

.about .about-left a:hover {
  background-color: #b07a5c;
}

.about .about-menu {
  -ms-flex-preferred-size: 150px;
      flex-basis: 150px;
}

.about .about-menu ul {
  list-style: none;
}

.about .about-menu ul li {
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.about .about-menu ul li a {
  text-decoration: none;
  color: #333;
}

.footer {
  margin-top: 20px;
}

.footer p {
  background-color: beige;
  padding: 20px;
  text-align: center;
  color: cadetblue;
}
/*# sourceMappingURL=style.css.map */