.about {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px;
    .about-left {
      flex-basis: 790px;
      padding: 20px;
      @include border($border_color, dashed, 5px, 20px);
      h4 {
        @include title;
      }
  
      p {
      }
      a {
        @include btn;
        &:hover {
          background-color: $button_hover;
        }
      }
    }
    .about-menu {
      flex-basis: 150px;
      ul {
        list-style: none;
        li {
          margin-bottom: 5px;
          padding-bottom: 5px;
          a {
            text-decoration: none;
            color: #333;
            &:hover {
            }
          }
        }
      }
    }
  }