.services {
    display: flex;
    padding: 25px 0;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    .single-service {
      flex-basis: 450px;
      background-color: #fafafa;
      padding: 20px;
     @include border($border_color, dashed, 5px, 20px);
      margin: 10px;
      h4 {
       @include title;
      }
      p {
      }
      a {
        @include btn;
        &:hover {
          background-color: $button_hover;
        }
      }
    }
  }