 /**
  *SASS or SCSS Style Through Variable
  */
  $header_footer_color: beige;
  $heading_color: rgb(168, 78, 78);
  $heading_font: "Berlin Sans FB";
  $button_background: cadetblue;
  $button_hover: rgb(176, 122, 92);
  $border_color: #ddd;
  $link_color: #333;